<%- include ../templates/header.ejs %>
<div class="container">
    <br>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/suppliers">Suppliers Data</a></li>
        <li class="breadcrumb-item active">Edit Supplier</li>
    </ol>
    <h3>Add Supplier Data</h3>
    <% if(alert.message != '') { %>
        <div class="alert alert-<%= alert.status %>">
            <%= alert.message %>
        </div>
    <% } %>
    <form action="/suppliers/<%= supplier.id %>/edit" method="post">
        <div class="form-group">
            <label for="name"> Name:</label>
            <input type="text" value="<%= supplier.name %>" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="kota">City:</label>
            <input type="text" value="<%= supplier.kota %>" class="form-control" name="kota" id="kota">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include ../templates/footer.ejs %>