<ul class="pagination">
    <% if(pagination.currentPage == 1) { %>
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <% } else { %>
        <li class="page-item"><a class="page-link"
                                 href="/<%= paginationFor %>/?page=<%= Number(pagination.currentPage) - 1 %>">Previous</a>
        </li>
    <% } %>
    <% for (var i = 0; i < pagination.totalPage; i++) { %>
        <% if (i + 1 == pagination.currentPage) { %>
            <li class="page-item active"><a class="page-link"
                                            href="/<%= paginationFor %>/?page=<%= i + 1 %>"><%= i + 1 %></a></li>
        <% } else { %>
            <li class="page-item "><a class="page-link" href="/<%= paginationFor %>/?page=<%= i + 1 %>"><%= i + 1 %></a>
            </li>
        <% } %>
    <% } %>
    <% if(pagination.currentPage == pagination.totalPage) { %>
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    <% } else { %>
        <li class="page-item"><a class="page-link"
                                 href="/<%= paginationFor %>/?page=<%= Number(pagination.currentPage) + 1 %>">Next</a>
        </li>
    <% } %>
</ul>