<%- include ../templates/header.ejs %>
<div class="container">

    <br>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Search</li>
    </ol>
    <h3>Search Item</h3>
    <div class="card">
        <div class="card-body">
            <form action="" method="get">
                <div class="form-group col-md-8 ">
                    <label for="price" class="control-label">Item Name</label>
                    <input type="text" class="form-control" id="price" name="name"/>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4 col-md-4">
                        <label for="price" class="control-label">Min Price</label>
                        <input type="text" class="form-control" id="price" name="minPrice"/>
                    </div>
                    <div class="form-group col-xs-4 col-md-4">
                        <label for="price" class="control-label">Max Price</label>
                        <input type="text" class="form-control" id="price" name="maxPrice"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <%# Card Body %>
    </div>
    <%# Card %>
    <h3>Search Result</h3>
    <table class="table">
        <thead>
        <th>Item Name</th>
        <th>Supplier Name</th>
        <th>Price</th>
        </thead>
        <tbody>
        <% items.forEach((item) => { %>
            <tr>
                <td><%= item.Item.name %></td>
                <td><%= item.Supplier.name %></td>
                <td><%= item.price %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>

</div>

<%- include ../templates/footer.ejs %>